<header>
    <div class="logo">
      <h1>Canchas Cancheros</h1>
    </div>
    <nav>
      <ul>

        <li>
          <a routerLink=" ">Home</a>
        </li>
        <li><a routerLink="/quienes-somos">¿Quiénes Somos?</a>

        </li>
        <li><a routerLink="/establecimientos">Nuestros Establecimientos</a>
        </li>
        <li><a routerLink="/reservas">Reservar Cancha</a>
        </li>
        <li><a routerLink="/canchas">Nuestras Canchas</a></li>
        <li><a routerLink="/login">Perfil</a> </li>
      </ul>
    </nav>

  </header>
  