<div class="about-section">
  <h2>¿Quiénes somos?</h2>
  <p>Bienvenidos a nuestra presentación sobre el proyecto de crear un portal de canchas de fútbol en Bogotá. Nuestro equipo está compuesto por David Suarez, Camilo Bustos y Pablo Ortiz. El portal de canchas de fútbol tendrá como principales funciones: mostrar la ubicación y disponibilidad de las canchas en Bogotá, permitir a los usuarios hacer reservaciones y pagos en línea, y ofrecer información adicional como fotos y reseñas de los usuarios. También consideramos que es importante ofrecer un sistema de calificación de canchas, que permita a los usuarios evaluar y comparar las diferentes opciones.

    En cuanto al modelo de negocio, proponemos que el portal cobre una comisión por cada reserva realizada. Además, se podrían generar ingresos adicionales mediante publicidad en el sitio web.
    
    En resumen, nuestro equipo está motivado y cuenta con las habilidades necesarias para llevar a cabo este proyecto de crear un portal de canchas de fútbol en Bogotá. Creemos que hay una gran demanda para este tipo de servicio y esperamos poder satisfacerla con nuestro portal. ¡Gracias por su atención!
    
  </p>
  
  <div class="mission-vision-container">
    <div class="mission-container">
      <h3>Misión</h3>
      <p>Nuestra misión es brindar un servicio de alta calidad, que cumpla con las expectativas de nuestros clientes y supere sus necesidades.</p>
    </div>

    <div class="vision-container">
      <h3>Visión</h3>
      <p>Nuestra visión es convertirnos en la empresa líder en el mercado de alquiler de canchas deportivas, reconocidos por la calidad de nuestros servicios y la satisfacción de nuestros clientes.</p>
    </div>
    <div class="valores-container">
      <h3>Valores</h3>
      <p>entrear un desarrollo de calidad , donde todos los participantes , aporten de misma manera desarrollando los conocimientos requeridos por el dosente.</p>
    </div>
  </div>
  
  
  <div class="bio-section">
    <div class="bio-container">
      <img   src="https://avatars.githubusercontent.com/u/124098579?v=4" alt="Foto de perfil">
      <h3>Pablo Rodríguez</h3>
      <p>Dueño y fundador de la empresa</p>
    </div>

    <div class="bio-container">
      <img src="https://avatars.githubusercontent.com/u/71355692?v=4" alt="Foto de perfil">
      <h3>David Suárez</h3>
      <p>Co-fundadora y gerente general</p>
    </div>

    <div class="bio-container">
      <img src="../assets/imagenes/camiloPRe.jpeg" alt="Foto de perfil">
      <h3>Camilo Bustos</h3>
      <p>Co-fundador y encargado de mantenimiento</p>
    </div>
    
  </div>

     <div class="futbolista">
    <img   src="../assets/imagenes/futbolista.jpg" alt="" width="200" height="300">

  </div>
 
</div>
