.table {
    margin: 0 auto;
    left: 21%;
    margin-top: 10%;
    max-width: 600px;

  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  

 
  button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .nuevo-establecimiento-btn {
    position: relative;
    width: 20%;
    display:flex;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 300px;
    
  }
  .calco1{
    float: left;
    
  }


  button:hover {
    background-color: #3e8e41;
  }
  
  button + button {
    margin-left: 5px;
  }

  body{
    margin: 0%;
  }
  
.calco3{
  float: right;


  height: 332px;
  width: 310px;
}
