<body  style="background-color: #b7dfeb">
 <table >
  <div class="tabla1" style="background-color: aliceblue;">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Establecimiento 1</td>
        <td>555-1234</td>
        <td>Calle 1 #123</td>
        <td>
          <button routerLink="/establecimientos/editar-establecimiento">Editar</button>
          <button>X</button>
        </td>
      </tr>
      <tr>
        <td>Establecimiento 2</td>
        <td>555-5678</td>
        <td>Calle 2 #456</td>
        <td>
          <button routerLink="/establecimientos/editar-establecimiento">Editar</button>
          <button>X</button>
        </td>
      </tr>
      <!-- más filas aquí -->
    </tbody>
  </div>
    
  </table>
 
  <button class="nuevo-establecimiento-btn"  >Nuevo Establecimiento</button>


   

</body>
