<h2 class="Titulo">Lista de Canchas</h2>


  <img class="messi" src="../assets/imagenes/lionel1.jpg" alt="" >


<table class="table  table-success table-striped  table-hover ">
  
  <thead class="">
    <tr>
      <th>Nombre de la Cancha</th>
      <th>Establecimientos</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>Cancha 1</td>
      <td>
        <ul>
          <li>Establecimiento : Campin</li>
        </ul>
      </td>
      <td>
        <button class="btn btn-primary" routerLink="/canchas/editar-cancha">Editar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
    <tr>
      <td>Cancha 2</td>
      <td>
        <ul>
          <li>Establecimiento: Camp Nou</li>
         </ul>
      </td>
      <td>
        <button class="btn btn-primary" routerLink="/canchas/editar-cancha">Editar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
    <tr >
      <td>Cancha 3</td>
      <td>
        <ul>
          <li>Establecimiento : santiago bernabeu </li>
        </ul>
      </td>
      <td>
        <button class="btn btn-primary" routerLink="/canchas/editar-cancha">Editar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<button routerLink="/canchas/editar-cancha" class="btn-success">Nueva Cancha</button>

