<body class="cuerpo">
  <h2>Editar Establecimiento</h2>
 <div class="container">
    <div class="edit-container">
      
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Nombre: <i class="fa-solid fa-file-signature"></i></td>
            <td><input type="text" value=" "></td>
          </tr>
          <tr>
            <td>Teléfono: <i class="fa-solid fa-phone"></i></td>
            <td><input type="text" value=" "></td>
          </tr>
          <tr>
            <td>Dirección: <i class="fa-solid fa-map-location"></i></td>
            <td><input type="text" value=" "></td>
          </tr>
        </tbody>
      </table>
      <div class="btn-group">
        <button class="btn-primary">Actualizar</button>
      </div>
    </div>
  </div> 
</body>

  