<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mi Página de Inicio</title>
	
</head>
<body>
	
	<main>
		<section class="hero">
			<h2>Bienvenido a mi página de inicio</h2>
			<p>venimos a traerle el mejor servicio para que juegen con sus amigos </p>
			
		</section>
		<section class="services">
			<h3>Nuestros servicios</h3>
			<ul>
				<li>Creación de canchas</li>
				<li>Autenticación</li>
				<li>Recuperar contraseña</li>
				<li>Verificar horario cancha</li>
				<li>Reservar cancha</li>
				<li>Cancelar reserva de cancha</li>
			</ul>
		</section>
		<section class="testimonials">
			<h3>Testimonios</h3>
			<div class="testimonial">
				<p>"Excelente servicio, muy profesional y eficiente. Definitivamente lo recomiendo."</p>
				<p class="author">- Juan Pérez</p>
			</div>
			
		</section>
	</main>
	<footer>
		<p>© 2023 Mi Empresa | Todos los derechos reservados</p>
	</footer>
</body>
</html>
