<body style="background-image: url('assets/imagenes/fondo.jpg');">
    <div class="page_principal" >
        <div class ="titulo">
            <h1>Bienvenidos a nuestra página de alquiler de canchas Cancheros</h1>
        </div>
        
        <div class="medio">
            <p>En nuestra página podrás encontrar una gran variedad de canchas deportivas para alquilar, tanto para deportes individuales como colectivos.</p>
        
            <p>Contamos con canchas de fútbol. Además, ofrecemos diferentes servicios adicionales como iluminación, vestuarios, y estacionamiento.</p>
            
        </div>

        <div class="tipos_usuario">
            <div class="canchas">
                <h2>canchas</h2>
            </div>

            <div class="espacio"></div>

            <div class="establecimiento">
                <h2>establecimiento</h2>
            </div>
        </div>
       
        
    </div>
    
     <br>
    <div>
        <img [src]="myimage" alt="">
    </div>
      
</body>
