<body>
    <div class="page_principal" >
        <h1>Bienvenidos a nuestra página de alquiler de canchas Cancheros</h1>

        <p>En nuestra página podrás encontrar una gran variedad de canchas deportivas para alquilar, tanto para deportes individuales como colectivos.</p>
        
        <p>Contamos con canchas de fútbol. Además, ofrecemos diferentes servicios adicionales como iluminación, vestuarios, y estacionamiento.</p>
        
        <p>¡No esperes más y reserva tu cancha favorita ahora mismo!</p>
    </div>
    
     
</body>
